#pokedex {
    /* border: 2px solid green; */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pokedex-top {
    flex: 1;
    display: flex;
    background-color: rgb(228, 45, 45);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

    .buttons {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* border: 1px solid green; */
        gap: 20px;
        padding: 20px 40px;

        .blue {
            width: 80px;
            height: 80px;
            border: none;
            border-radius: 50px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #555;

            div {
                width: 70px;
                height: 70px;
                background-color: rgb(92, 152, 236);
                border-radius: 50%;
            }
        }
        div {
            display: flex;
            gap: 5px;

            button {
                width: 30px;
                height: 30px;
                border: none;
                border-radius: 50%;
                border: 2px solid #555;
            }
            .red {
                background-color: rgba(198, 11, 11, 0.583);
            }

            .yellow {
                background-color: rgb(255, 191, 0);
            }

            .green {
                background-color: rgb(6, 128, 0);
            }

            :hover {
                filter: brightness(60%);
            }
        }
    }
}

.pokedex-content {
    /* border: 1px solid purple; */
    flex: 8;
}

.pokedex-bottom {
    background-color: rgb(228, 45, 45);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) -20px -25px 50px 12px;
    flex: 1;
}
